---
layout: default
---
<div class="post">
  {% if page.image %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image }}" alt="" />
      </div>
  {% endif %}
  <h1 class="postTitle">{{ page.title }}</h1>
  <p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>

  {% comment %}<p>{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html }}{% endif %}</p>{% endcomment %}
  <p>{% if page.description %}{{ page.description }}{% endif %}</p>
  <div id="table-of-contents">
    {% toc %}
  </div>
  <div id="markdown-content">
    {{ content }}
  </div>

  {% if page.references %}
  <details id="references" style="padding-bottom:1em">
    <summary style="background:#eee">References</summary>
    {% bibliography --file {{page.references}} --cited %}
    <script>
     document.querySelectorAll(".citation").forEach(
       e => e.onclick = function () {
         document.querySelectorAll("#references")[0].setAttribute("open", "");
       }
     );
    </script>
  </details>
  {% endif %}
</div>

<!-- POST NAVIGATION -->
<div class="postNav clearfix">
  {% if page.previous.url %} 
    <a class="prev{% if page.previous.image %} image{% endif %}" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title }}</span>
    {% if page.previous.image %} 
      <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.previous.image }}" alt="">
    {% endif %}
  </a>
  {% endif %}  
  {% if page.next.url %}  
    <a class="next{% if page.next.image %} image{% endif %}" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title }}&nbsp;&raquo;</span>
    {% if page.next.image %} 
      <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.next.image }}" alt="">
    {% endif %} 
    </a>
  {% endif %} 
</div>
